<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box">
        <div class="button-list">
          <a href="/problem-1" class="btn btn-primary waves-light waves-effect width-md anchorbtn">Paper League</a>
          <a href="/problem-2" class="btn btn-primary waves-light waves-effect width-md anchorbtn">Chess</a>
          <a href="/problem-3" class="btn btn-primary waves-light waves-effect width-md anchorbtn">String Value </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card-box">
        <router-outlet></router-outlet>        
        
      </div>
    </div>
  </div>  
</div>