<h2 class="header-title">Paper League Problem</h2>
<div class="row">
    <div class="col-12 col-sm-6">
        <label class="col-form-label">Text</label>
        <textarea id="input-1" class="form-control" rows="10" [(ngModel)]="input"></textarea>
        <br />
    </div>
    <div class="col-12 col-sm-6">
        <button #btn type="button" class="btn btn-success btn-rounded waves-light waves-effect width-md" (click)="resolve()">Resolve</button>
        <div></div>
        <label class="col-form-label">Output:</label>
        <br />
        <pre id="output-1">{{output}}</pre>
    </div>
</div>